section{
    width: 100vw;
    height: 100vh;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(Assets/LandingPage/hero-bg.svg);
}
#login-logo{
    font-size: 2rem;
}
#login-logo img{
    width: 400px;
    height: 400px;
}
h1{
    margin: 0;
}
#details{
    width: 50vw;
    border-radius: 40px;
    flex-direction: column;
    background-image: linear-gradient(to right, #0a3753, #061e36);
}
form{
    font-family: mont;
    width: 40vw;
    padding: 1vw 1vh;
    flex-direction: column;
    gap: 1vw;
}
input{
    width: 40vw;
    font-family: mont;
    font-size: 1rem;
    height: 2rem;
}
#submit{
    font-family: mont;
}
#change-login{
    color: white;
    text-decoration: none;
}
@media (width < 1000px) {

    #login-logo{
        flex-direction: column;
    }
    #login-logo img{
        width: 200px;
        height: 200px;
    }
}