/*Index*/
@font-face {
  font-family: megrath;
  src: url("../fonts/Megrath.ttf");
}
@font-face {
  font-family: mont;
  src: url("fonts/Mont-HeavyDEMO.otf") format("opentype");
}
* {
  box-sizing: border-box;
}
body {
  color: #e1ecee;
  background-color: #020d10;
  font-family: sans-serif;
  margin: 0px;
}
.flexed{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  overflow: hidden;
}
.divider{
  font-family: open-sans;
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  background-image: linear-gradient(180deg,#0a3753, #061e36);
}
/*Header*/
header{
  width: 100vw;
  padding: 0 2vw;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-image:linear-gradient(#0a3753, #061e36);
}
#logoPlaceHolder{
  gap: 1vw;
  font-family: megrath;
}
#logoPlaceHolder h1{
  margin: 0px;
  font-size: 40px;
  font-weight: 700;
}
#header-logo{
  width: 80px;
}
nav{
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
}
nav button{
  font-size: 25px; 
  font-family: megrath;
  padding: 5px 50px;
  color: #e1ecee;
  border: none;
  border-left: solid 2px #06d2c5;
  background-color: transparent; 
  cursor:pointer;
}
nav button:hover {
  color: #06d2c5;
  border: solid 2px #06d2c5;
  border-radius: 20px;
  background-color: #031222;
  text-decoration: none;
}
/*Menu for Smaller Screens*/
#menu-popup{
  display: none;
}
#nav-mobile img{
  width: 40px;
  height: 40px;
}
#nav-mobile{
  position: relative;
  display: none;
  cursor: pointer;
}
#menu-popup:checked~div{
  display: flex;
  flex-wrap: wrap;
}
/*Hero*/
#hero{
  height: 100vh;
  padding: 0 5vw;
  margin-top: -50px;
  gap: 5vw;
  background-image: url(Assets/LandingPage/hero-bg.svg);
}
#brand-logo{
  width: 650px;
}
#hero-txt{
  width: 300px;
  flex-grow: 1;
}
#tagline {
  font-family: mont;
  font-size: 50px;
  text-align: start;
}
#introduction{
  text-align: justify;
  font-size: 30px;
}
#redirect{
  float: left;
  text-decoration: none;
}
#picdirect {
  width: 80px;
}
#linkto {
  color:#06d2c5;
  background-color: transparent;
  font-family: mont;
  font-size: 40px;
  border: none;
}
#linkto:hover {
  text-decoration: underline;
  text-underline-offset: 15px;
  text-decoration-thickness: 4px;
  cursor: pointer;
}
/*Main-Feature*/
#main-feature{
  width: 80vw;
  font-size: 1.5rem;
  margin-top: 5vh;
  border-radius: 40px;
  background-image: linear-gradient(to right, #0a3753, #061e36);
}
#main-content{
  width: 800px;
  text-align: justify;
  justify-content: left;
  margin-top: 1vh;  
}
#main-content h1{
  font-size: 3rem;
  margin: 0;
}
#main-content ul{
  text-align: left;
}
#main-feature img{
  width: 400px;
}
/*Ohter-Features*/
#feature {
  padding: 5vh 5vw;
  gap: 4vw;
  align-items: start;
}
.features{
  width: 350px;
  height: 650px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  gap: 1rem;
  border-radius: 20px;
  padding: 1vw;
  background-image: linear-gradient(to right, #0a3753, #061e36);
}
.features p{
  height: 30%;
  font-size: 1rem;
  line-height: 1.5rem;
  align-content: center;
  margin: 0;
}
#feature img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 0;
}
/*Team*/
#leaders{
  gap: 5vw;
  padding-top: 5vh;
}
#membersList{
  gap: 2vw;
  row-gap: 2vh;
  padding: 5vh 5vw;
}
.members{
  border-radius: 20px;
}
.members div{
  background-color: #061e36;
  padding: 5px;
  border-radius: 20px;
  border: solid #0a3753 6px ;
}
#team img{
  width: 300px;
  height: 300px;
  border-radius: 20px;
  background-image: linear-gradient(180deg,#0a3753, #061e36);
}
/* Contacts */
#contacts{
  width: 100vw;
  padding: 5vh 5vw;
  gap: 20vw;
}
#inquiry{
  width: 600px;
  font-size: 1rem;
  border: 6px solid #061e36;
  flex-direction: column;
  border-radius: 20px;
  padding: 1vw 1vh;
  justify-content: space-around;
  gap: 10px;
  background-image: linear-gradient(180deg, #0a3753, #061e36);
}
#inquiry input{
  width: 80%;
}
#message {
  max-width: 80%;
  min-width: 80%;
  min-height: 200px;
}
#submit{
  font-size: 1rem;
  color: #e1ecee;
  border: solid 2px #031222;
  border-radius: 20px;
  background-color: #031222;
  cursor: pointer;
  width: 30%;
}
#contact-info{
  width: 350px;
  font-size: 1rem;
  border: 6px solid #061e36;
  flex-direction: column;
  border-radius: 20px;
  padding: 1vw 1vh;
  background-image: linear-gradient(180deg, #0a3753, #061e36);
}
#contact-info img{
  width: 50px;
}
#contact-info a{
  color: #e1ecee;
  line-height: 2rem;
}

/* Footer */
footer {
  text-align: center;
}

/* Media Queries */
@media (width < 1400px) {
  #nav-desktop{
    display: none;
  }
  header nav button{
    font-size: 3vh;
  }
  #nav-mobile{
    display: block;
  }
  #hero{
    flex-direction: column;
    height: auto;
    margin: 0;
  }
  #hero-txt{
    width: 90vw;
    flex-grow: 0;
  }
  #brand-logo{
    width: 400px;
  }
  nav{
    text-align: center;
  }
  nav button{
    border: none;
  }
  #main-feature{
    font-size: 1.5rem;
    padding: 1vw;
  }
  #contacts{
    flex-direction: column;
    gap: 5vh;
  }
  #inquiry{
    width: 90vw;
  }
  #contact-info{
    width: 90vw;
  }
}

/*Owls Nest*/
.owl_nest {
  height: 50%;
  align-self: center;
}

div.gallery {
  border: 3px dotted #ccc;
  margin: 5px;
  border-radius: 20px;
  transition: 1s;
}
div.gallery:hover {
  border: 3px dotted #0eacb5;
}
div.gallery img {
  width: 40%;
  height: auto;
  align-content: center;
}
div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  width: 35%;
  display: inline-block;
}
h1 {
  text-align: center;
}
.info {
  flex: 2;
  padding-left: 20px;
}
#gallery-container {
  text-align: center;
}
/*Reviews&Reccomended*/
#reviews{
  margin: 0;
  width: 100vw;
  gap: 6vw;
  row-gap: 1vw;
  padding: 5vh 2vw;
  background-color: transparent;
  line-height: 40px;
}
#reviews img{
  width: 180px;
  border: solid 4px #0a3753;
  border-radius: 50%;
}
#reviews p{
  padding: 10px;
  border: solid #0a3753 4px;
  background-color: #031222;
  border-radius: 20px;
}
.topReviews{
  display: flex;
  align-items: center;
  gap: 2vw;
}

/*Bee's Nest*/
.item {
  display: grid;
  grid-template-columns: auto auto auto;
  
}