/*Assets*/
@font-face {
  font-family: megrath;
  src: url("../fonts/Megrath.ttf");
}
@font-face {
  font-family: mont;
  src: url("fonts/Mont-HeavyDEMO.otf") format("opentype");
}

/* Smoother redirect of header buttons */
html {
  scroll-behavior: smooth;
}
body {
  background-color: #020d10;
  font-family: sans-serif;
}
nav{
  font: 1.3rem "megrath";
  background-image: linear-gradient(to right, #0a3753, #061e36);
}
.nav-item a{
  color: #e1ecee;
}
.navbar-brand{
  font-size: 2rem;
}
#secondary_feature .card{
  width: 22rem;
}


